.btn {
    font-family: var(--font-family-1);
    font-weight: 600;
    font-size: 1rem;
    padding: 0 1.25rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.btn.defaultGreen {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 3.75rem;
}

.btn.mediumGreen {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 2.5rem;
}

.btn.defaultGreen:hover,
.btn.btn.mediumGreen:hover {
    background-color: var(--color-primary-50);
}

.btn.defaultGrey {
    background-color: var(--color-grey-20);
    color: var(--color-grey-50);
    height: 3.75rem;
}

.btn.mediumGrey {
    background-color: var(--color-grey-20);
    color: var(--color-grey-50);
    height: 2.5rem;
}

.btn.defaultGrey:hover,
.btn.mediumGrey:hover {
    background-color: var(--color-grey-50);
    color: var(--color-grey-20);
}