.defaultInput {
    padding: 0 .625rem 0 1.25rem;
    border-radius: .5rem;
    height: 60px;
    width: 382px;
    background-color: var(--color-white);
    border: 2px solid var(--color-grey-20);
    caret-color: var(--color-primary);
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 1rem;
}

.defaultInput::placeholder {
    color: var(--color-grey-20);
}

.defaultInput:focus {
    outline: none;
    border: 2px solid var(--color-primary);
}

.defaultInput:focus::placeholder {
    color: var(--color-grey-50);
}